
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
  <h1>Welcome to Quoting Dojo</h1>
  <form method="post" action="/quotes">
    <p><label>Your Name:</label>
    <input type="text" name="name"></p>
    <p><label>Your Quote:</label>
    <input type="textarea" name="quote"></p>
    <input type="submit" name="submit" value="Add my quote!">
  </form>
  <form method="get" action="/quotes">
    <input type="submit" value="Skip to quotes!">
  </form>
  
</body>
</html>
