
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Here are some awesome quotes!</title>
</head>
<body>
  <h1>Show!</h1>
  <h3>Name: <%= quote.name %></h3>
  <h3>Weight: <%= quote.quote %></h3>
  <h4>Color: <%= quote.timestamp %></h4>
  <a href="/">Home</a>
</body>
</html>
