#wrapper{
	margin:0px 0px 0px 100px;
	padding:5px 5px 5px 35px;
	border:solid black 1px;
	width: 360px;
}
#wrapper2{
	width:400px;
	background-color: lightgreen;
	border:solid black 1px;
	margin:0px 0px 25px 100px;
	padding-left: 10px;
	overflow-wrap: break-word;
}
#submit{
	background-color: blue;
	margin-left: 240px;
}